:root {
    --sidebar-color: rgb(116, 202, 176);
    --button-hover-color: rgb(81, 142, 123);
    --option-border-hover-color: solid 4px rgb(47, 81, 70);
    --header-color: white;
    --main-section-color: rgb(213, 234, 226);
    --main-section-title-color: black;
    --main-section-text-color: rgb(93, 92, 92);
    --trendy-user-color: rgb(33, 32, 32);
    --anounced-separators-color: solid 2px rgb(194, 191, 191);
    --main-section-links-hover-color: rgb(47, 47, 245);
}

.dark {
    --sidebar-color: rgb(203, 149, 49);
    --button-hover-color: rgb(143, 105, 33);
    --option-border-hover-color: solid 4px rgb(102, 75, 24);
    --header-color: rgb(44, 43, 43);
    --main-section-color: black;
    --main-section-title-color: white;
    --main-section-text-color: rgb(194, 191, 191);
    --trendy-user-color: white;
    --anounced-separators-color: solid 2px rgb(116, 114, 114);
    --main-section-links-hover-color: rgb(10, 182, 182);
}

html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--main-section-title-color);
}

/* MAIN LAYOUT*/

body {
    min-height: 99%;
    display: grid;
    grid-template-columns: 80px clamp(200px, 20%, 250px) 4fr;
    grid-template-rows: 200px 5fr;
}

/*SIDEBAR*/

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.sidebar > .title > div, 
.sidebar > .option-list > div,
.sidebar > .separated > div {
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.sidebar > .title > div {
    gap: 15px;
}

.sidebar > .option-list > div,
.sidebar > .separated > div {
    gap: 25px;
    cursor: pointer;
}

.sidebar > .title > div > h1 {
    color: var(--header-color);
    font-size: 30px;
}

.sidebar > .option-list > div > p,
.sidebar > .separated > div > p {
    color: var(--header-color);
    font-size: 20px;
    font-weight: 500;
}

.separated {
    margin-top: auto;
}

.title {
    margin-bottom: 2.5vh;
}

.sidebar-handler-retract {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1;
}

.sidebar-handler-expand {
    position: absolute;
    top: 5px;
    left: 25px;
    cursor: pointer;
    opacity: 0;
}


/*SIDEBAR INTERACTION*/

.sidebar > .option-list > div:focus,
.sidebar > .separated > div:focus,
.sidebar > .option-list > div:hover,
.sidebar > .separated > div:hover {
    background-color: var(--button-hover-color);
    border-left: var(--option-border-hover-color);
}

.sidebar-handler-retract:hover {
    transition: 1s;
    transform: rotate(-360deg);
}

.sidebar-handler-expand:hover {
    transition: 1s;
    transform: rotate(360deg);
}

/*Applied through JS*/

.invadingHeader {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.invadingMain-content {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.repositionLogo {
    padding-left: 15px !important; 
    margin-top: 50px;
}

.expandHandler {
    opacity: 1;
}


/*HEADER*/

.header {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    padding-left: 50px;
    padding-right: 50px;
    min-width: fit-content;
    background-color: var(--header-color);
}

/*Upper-header*/

.upper-header {
    grid-row: 1;   
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-content: center;
}

.search-bar {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#search {
    all: unset;
    background-color: var(--main-section-color);
    height: 30px;
    width: clamp(150px, 30vw, 800px);
    border-radius: 20px 20px;
}

.search-bar > img {
    height: 25px;
    width: auto;
}

.toggle-mode-div {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    cursor: pointer;
}

.github > a {
    all: unset;
}

.github > a > p {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
    color: var(--main-section-title-color);
}

/*Toggle*/

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid black;
    background: var(--sidebar-color);
    transition: all 0.4s;
    position: relative;
    cursor: pointer;
  }

  /*
     style the ::before content to look like
     the inner toggle switch - the bit that moves
  */

  input[type="checkbox"]::before {
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background-color: var(--header-color);
    content: '';
    position: absolute;
    top: 2.5px;
    left: 10%;
    transition: all 0.4s;
  }

  /*
     change the outer background color and move the inner toggle switch
     when the checkbox is checked; use transitions for smooth animation
  */

  input[type="checkbox"]:checked {
    transition: all 0.4s;
  }

  input[type="checkbox"]:checked::before {
    left: 50%;
    transition: all 0.4s;
  }


/*Lower-header*/

.lower-header {
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-content: center;
}

.lower-header > a {
    all: unset;
}

.TOP {
    max-height: fit-content;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.TOP > img {
    cursor: pointer;
}

.TOP > div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    cursor: pointer;
}

.TOP > div > h4 {
    margin-top: 0;
    margin-bottom: -5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--main-section-title-color);
}

.TOP > div > h3 {
    font-size: 25px;
    margin: 0;
    color: var(--main-section-title-color);
}

.buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.buttons > button {
    width: clamp(80px, 20%, 150px);
    height: 35px;
    border: none;
    border-radius: 25px 25px;
    background-color: var(--sidebar-color);
    color: var(--header-color);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/*Header Interaction*/

.buttons > button:hover {
    background-color: var(--button-hover-color);
}



/*MAIN-CONTENT*/

/*Projects Div*/
.main-content {
    z-index: 3;
    background-color: var(--main-section-color);
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    padding: 20px;
    gap: 25px;
    overflow: scroll;
}

.projects-external-div {
    max-height: 80vh;
    grid-column: 1;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.projects-external-div > h4 {
    grid-row: 1;
    align-self: end;
    font-size: 20px;
    color: var(--main-section-title-color);
}

.projects-internal-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;

}

.project {
    max-height: 450px;
    background-color: var(--header-color);
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-rows: 25px 250px 1fr 25px;
    gap: 15px;
}

.project > h4 {
    display: contents;
    color: var(--main-section-title-color);
}

.project > a > img,
.project > img {
    height: 250px;
    width: 100%;
    border-radius: 15px;
    justify-self: center;
}

.project > p {
    display: contents;
    font-size: 14px;
    color: var(--main-section-text-color);
}

.project > div {
    justify-self: end;
    grid-row: 4;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.project > div > img,
.project > div > a > img {
    height: 25px; 
    width: auto;
    cursor: pointer;
}

/*Side Div*/
.main-side-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.anouncements,
.trending {
    display: grid;
    justify-items: stretch;
    grid-template-rows: 50px 1fr;
    max-width: 400px;
    height: fit-content;
}

.anouncements > h4,
.trending > h4 {
    align-self: end;
    font-size: 20px;
    color: var(--main-section-title-color);
}

.anouncements > div {
    background-color: var(--header-color);
    border-radius: 15px;
    padding: 15px 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.anounced {
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: var(--anounced-separators-color);
}

.anounced:nth-child(3) {
    border-bottom: none;
}

.anounced > h5 {
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    color: var(--main-section-title-color);
}

.anounced > p {
    margin: 0;
    padding: 0 10px;
    font-size: 13px;
    color: var(--main-section-text-color);
}

.trending > div {
    background-color: var(--header-color);
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.trendy {
    display: flex;
    gap: 20px;
    align-self: start;
    align-items: center;

}

.trendy > img {
    height: 50px;
    width: auto;
    border-radius: 100%;
    cursor: pointer;
}

.trendy > div > p {
    margin: 0;
    font-size: 12px;
    color: var(--main-section-text-color);
}

.trendy > div > .user {
    color: var(--trendy-user-color);
    cursor: pointer;
}

/*MAIN-CONTENT INTERACTION*/

.anounced > h5:hover {
    color: var(--main-section-links-hover-color);
}

.trendy > div > .user:hover {
    color: var(--main-section-links-hover-color);
}

.trendy > img:hover {
    border: 3px solid var(--sidebar-color);
}

.project > a > img:hover,
.project > img:hover {
    outline: 3px solid var(--sidebar-color);
}


